@font-face {
  font-family: 'Constantine';
  src: url('~/src/fonts/constantine.woff2') format('woff2'),
      url('~/src/fonts/constantine.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Определение переменных */
:root {
  --font-main: 'Inter', sans-serif;
  --font-title: 'Constantine', serif;
  --color-main: #1C1E1F;
  --color-second: #577A9A;
  --color-second-light: #E3EAE8;
  --color-dark: #2D3032;
}
// Reset базовых стилей
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
ol,
li,
form,
input,
button,
textarea,
table,
td,
th,
tr,
blockquote {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}

// Нормализация стилей
body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
//Основные стили
html, body {
  height: 100%;
  min-height: 100%;
  font: 500 14px/18px var(--font-main);
  background: #FFFBF0;
}
h1, h2, h3 {
  font-family: var(--font-title);
}
h1 {
  font: 400 66px/63px var(--font-title);
  letter-spacing: -0.06em;
  text-align: center;
  margin-bottom: 32px;
  text-transform: uppercase;
  @media(max-width:1000px) {
    font-size: 48px;
    line-height: 50px;
  }
}
h2 {
  font: 400 66px/62px var(--font-title);
  letter-spacing: -4px;
  text-align: center;
  margin-bottom: 48px;
  text-transform: uppercase;
  @media(max-width:700px) {
    font: 400 54px/56px var(--font-title);
    margin-bottom: 8px;
    text-align: left;
    letter-spacing: -2px;
  }
}
a {
  transition: 0.2s;
  text-decoration: none;
}
#page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  @media(max-width:750px) {
    padding-top: 120px;
  }
}
section, header {
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0 auto;
}
input, textarea {
  transition: 0.2s;
}
input[type=submit] {
  cursor: pointer;
}
input[type=text], input[type=email], input[type=password], textarea {
  padding: 10px 17px;
  font-family: Inter;
  background: #F2EEE3;
  border: none;
  border-radius: 38px;
}
textarea {
  border-radius: 18px;
}
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus {
  box-shadow: 0 0 8px inset var(--color-second);
  border-color: var(--color-second);
  caret-color: var(--color-second);
}
.primary-btn {
  background-color: var(--color-dark);
  font-size: 10px;
  text-transform: uppercase;
  color: #fff;
  padding: 0 10px;
  border-radius: 38px;
  cursor: pointer;
  transition: 0.2s;
}
.primary-btn:hover {
  background-color: var(--color-second);
}
.light-btn {
  font: 500 10px/11px var(--font-main);
  letter-spacing: 0.03em;
  padding: 7px 10px;
  border: 1px solid var(--color-main);
  border-radius: 38px;
  color: var(--color-main);
  text-transform: uppercase;
  display: inline-block;
  &:hover {
    border-color: var(--color-second);
    color: var(--color-second);
  }
}
.pt75 {
  padding-top: 75px;
}
.colored {
  background: #f9f5ea;
}
#main-menu {
  position: absolute;
  left: -9999px;
}
#main-menu-mask {
  display: none;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 12px;
  padding-top: 12px;
  margin-bottom: 74px;
  @media(max-width:750px) {
    position: fixed;
    top: 0;left: 0;right: 0;
    background: #FFFBF0;
    z-index: 6;
    margin-bottom: 50px;
  }
  .logo {
    display: flex;
    gap: 12px;
    align-items: center;
    svg {
      width: 75px;
      margin-left: 0;
      @media(max-width:750px) {
        width: 90px;
      }
      @media(max-width:550px) {
        width: 120px;
      }
      @media(max-width:450px) {
        width: 100px;
      }
    }
    span {
      text-transform: uppercase;
      font: 500 10px/11px var(--font-main);
      letter-spacing: 0.03em;    
      color: var(--color-main);
      @media(max-width:760px) {
        display: none;
      }
    }
    label {
      font: 500 10px/11px var(--font-main);
      letter-spacing: 0.03em;    
      position: relative;
      padding: 0 12px;
      cursor: pointer;
      color: var(--color-main);
      &::before, &::after {
        content:"";
        position: absolute; 
        width: 12px;
        height: 22px; 
        background: url(~/src/img/wreath@3x.jpg);
        background-size: 100% 100%;
        top:50%;  
        margin-top: -11px;
      } 
      &::before {
        left: 0;
        transform: scaleX(-1);
      }
      &::after {
        right: 0;
      }
      @media(max-width:760px) {
        display: none;
      }
    }
  } 
  nav {
    ul {
      display: flex; 
      gap: 4px;   
    } 
  }
  .controls {
    display: flex;
    align-items: stretch;
    form {
      display: flex;
      align-items: stretch;
      input {
        font: 500 10px/11px var(--font-main);
        margin-right: 4px;
      }
      @media(max-width:550px) {
        display: none;
      }
    }
    .login {
      background: var(--color-second);
      padding: 0 10px;
      display: flex;
      align-items: center;
      margin-left: 4px;
      border-radius: 38px;
      @media(max-width:550px) {
        height: 48px;
      }
      span {
        text-transform: uppercase;
        font: 500 10px/11px var(--font-main);
        color: #fff;
        @media(max-width:550px) {
          font-size: 14px;
        }
        @media(max-width:350px) {
          display: none;
        }
      }
      svg {
        margin-left: 4px;
        width: 14px;
        height: 14px;
        @media(max-width:550px) {
          width: 16px;
          height: 16px;
        }
        @media(max-width:350px) {
          margin-left: 0;
        }
        path {
          fill: #fff;
          transition: 0.2s;
        }
      }
      &:hover {
        background: var(--color-second-light);
        span {
          color: var(--color-second);
        }
        svg path {
          fill: var(--color-second)
        }
      }
    }
  }
  .main-menu-button {
    display: none;
    cursor: pointer;
    @media(max-width:1150px) {
      display: block;
      margin-left: 8px;
      width: 32px;
      height: 32px;
    }
    @media(max-width:750px) {
      width: 48px;
      height: 48px;
    }
  }
}
main.index {
  margin-bottom: 80px;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
  margin-bottom: 42px;
  a {
    background: var(--color-second-light);
    border: 2px solid var(--color-second-light);
    padding: 7px 10px;
    border-radius: 38px;
    font: 500 10px/11px var(--font-main);
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: var(--color-dark);
    &:hover {
      border: 2px solid var(--color-second);
      color: var(--color-second);
    }
    &.active {
      background: var(--color-second);
      color: var(--color-second-light);
      border: 2px solid var(--color-second);
    }
  }
}
@media(max-width:1140px) {
  #main-menu + #page-wrapper header nav {
      position: fixed;
      top:0;bottom: 0;
      width: 300px;
      right: -300px;
      transition: 0.2s;
      z-index: 10;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 24px;
        a {
          border: none;
          font-size: 14px;
        }
      }
  }
  #main-menu:checked + #page-wrapper header #main-menu-mask {
    position: fixed;
    top: 0;right: 0;bottom: 0;left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index:8;
    display: block;
  }
  #main-menu:checked + #page-wrapper header nav {
    right: 0;
  }
}
.marquee-container {
  overflow: hidden;
  margin-bottom: 12px;
  .marquee-content {
    display: flex;
    gap: 12px;
    width: 100%;
    align-items: center;
    li {
      letter-spacing: -0.04em;
      white-space: nowrap;
    }
  }
}
.portfolio {
  padding-top: 12px;
  border-top: 1px solid var(--color-main);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 12px;
  .item {
    width: calc(50% - 12px);
    padding-bottom: 48px;
    box-sizing: border-box;
    position: relative;
    border-bottom: 1px solid var(--color-main);
    @media(max-width:650px) {
      width: 100%;
      padding-bottom: 40px;
    }
    &::before {
      content:"";
      position: absolute;
      right: -12px;top: 0;bottom: 12px;
      width: 1px;
      background: var(--color-main);
      @media(max-width:650px) {
        display: none;
      }
    }
    img {
      max-width: 100%;
      margin-bottom: 16px;
      display: block;
    }
    .data {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      gap: 24px;
      .name {
        font: 500 32px/30px var(--font-main);
        letter-spacing: -0.06em;
      }
    }
  }
}
footer {
  background: var(--color-main);
  padding: 24px 0 36px;
  margin-top: auto;
  section {
    display: flex;
    gap: 12px;
    @media(max-width:650px) {
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }
    svg {
      width: 75px;
      @media(max-width:650px) {
        width: 200px;
      }
    }
    .info {
      max-width: 194px;
      @media(max-width:650px) {
        max-width: 100%;
        padding-left: 70px;
        padding-right: 70px;
        p {
          text-align: center;
        }
      }
    }
    .contacts {
      margin-left: 300px;
      display: flex;
      flex-direction: column;
      @media(max-width:1000px) {
        margin-left: auto;
      }
      @media(max-width:650px) {
        margin-left: 0;
        p, a {
          text-align: center;
        }
      }
    }
    p {
      opacity: 0.65;
    }
    p, a {
      color: #FFFBF0;
      font: 500 12px/16px var(--font-main);
      letter-spacing: -0.04em;
      margin-bottom: 4px;
    }
    div {
      display: flex;
      flex-direction: column;
      margin-top: 4px;
      a {
        font: 400 15px/19px var(--font-main);
        letter-spacing: -0.04em;
      }
      & + p {
        margin-top: auto;
      }
    }
  }
}
.cols {
  display: flex;
  align-items: stretch;
  .col {
    width: 50%;
    padding: 0 6px;
    margin: 0 -6px;
  }
}
.portfolio-page {
  border-top: 1px solid var(--color-main);
  padding-top: 16px;
  @media(max-width:700px) {
    border-top: none
  }
  .back {
    display: flex;
    align-items: center;
    position: absolute;
    font: 500 10px/11px var(--font-main);
    gap: 4px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: var(--color-main);
    margin-bottom: 28px;
    svg {
      width: 14px;
      height: 9px;
      path {
        transition: 0.2s;
        fill:var(--color-main);
      }
    }
    &:hover {
      color: var(--color-second);
      svg {
        path {
          fill: var(--color-second);
        }
      }
    }
    @media(max-width:700px) {
      position: relative;
      padding-bottom: 12px;
      border-bottom: 1px solid var(--color-main);
    }
  }
  .photo {
    padding-top: 40px;
    @media(max-width:700px) {
      padding-top: 0;
      text-align: center;
    }
    img {
      max-width: 285px;
      width: 100%;
    }
  }
  .border-left {
    border-left: 1px solid var(--color-main);
    .wrapper {
      padding-left: 25px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      height: 100%;
    }
  }
  .text {
    margin-bottom: 38px;
    max-width: 310px;
    @media(max-width:700px) {
      margin-bottom: 30px;
    }
  }
  h1 {
    text-align: left;
    @media(max-width:700px) {
      text-align: center;
    }
  }
  .cols {
    padding-bottom: 60px;
    @media(max-width:700px) {
      position: relative;
      padding-bottom: 140px;
    }
  }
  #portfolio-gallery {
    margin-bottom: 12px;
  }
  .splide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
  }
  .splide__track--nav > .splide__list > .splide__slide.is-active {
    border: none;
  }
  .splide__track--nav > .splide__list > .splide__slide {
    img {
      border-radius: 8px;
    }
  }
  #portfolio-thumb-gallery {
    margin-bottom: 90px;
  }
  .review {
    max-width: 560px;
    margin-left: auto;
    margin-bottom: 88px;
    @media(max-width:700px) {
      margin-left: 0;
      max-width: 100%;
      margin-bottom: 80px;
    }
    .title {
      font: 400 66px/63px var(--font-title);
      letter-spacing: -0.04em;
      text-transform: uppercase;
      margin-bottom: 24px;
      @media(max-width:700px) {
        font: 400 54px/56px var(--font-title);
      }
    }
    .desc {
      max-width: 350px;
      margin-bottom: 48px;
    }
    .content {
      display: flex;
      justify-content: space-between;
      @media(max-width:700px) {
        flex-direction: column-reverse;
      }
      .text {
        max-width: 290px;
        font-size: 14px;
        .name {
          font: 500 20px/26px var(--font-main);
          letter-spacing: -0.04em;
          margin-bottom: 18px;
        }
      }
      .img {
        img {
          max-width: 116px;
        }
      }
    }
  }
  @media(max-width:700px) {
    .cols {
      flex-direction: column-reverse;
      align-items: center;
      .col.border-left, .col {
        border-left: none;
        width: 100%;
        .wrapper {
          padding: 0;
          align-items: center;
          a {
            position: absolute;
            bottom: 65px;
          }
        }
      }
    }
  }
  .portfolio-gallery-title {
    display: none;
    @media(max-width:700px) {
      display: flex;
      justify-content: space-between;
      padding-bottom: 8px;
      span {
        font: 500 14px/15px var(--font-main);
        text-transform: uppercase;
      }
      svg {
        opacity: 0.2;
      }
    }
  }
}
.portfolio-price {
  .add {
    padding-bottom: 40px;
    padding-top: 40px;
    border-top: 1px solid var(--color-main);
    a {
      display: inline-flex;
      color: var(--color-main);
      &:hover {
        color: var(--color-second);
      }
      b {
        width: 100px;
        font: 400 32px/30px var(--font-title);
        @media(max-width:750px) {
          font: 400 24px/22px var(--font-title);
        }
        @media(max-width:500px) {
          width: auto;
          padding-right: 12px;
        }
      }
      span {
        font: 500 32px/30px var(--font-main);
        letter-spacing: -0.06em;
        @media(max-width:750px) {
          font: 400 24px/22px var(--font-title);
        }
      }
    }
  }
  .row {
    display: grid;
    grid-template-columns: 100px 300px 1fr 180px 200px;
    padding-bottom: 48px;
    padding-top: 12px;
    border-top: 1px solid var(--color-main);
    .num {
      font: 400 32px/30px var(--font-title);
    }
    .name {
      font: 500 32px/30px var(--font-main);
      letter-spacing: -0.06em;
      padding-right: 40px;      
    }
    .desc {
      padding-left: 16px;
      padding-right: 40px;
      border-left: 1px solid var(--color-main);
    }
    .term {
      padding-left: 16px;
      padding-right: 20px;
      border-left: 1px solid var(--color-main);
    }
    .price {
      padding-left: 16px;
      border-left: 1px solid var(--color-main);
    }
    .profile-range {
      margin-top: 18px;
    }
    .profile-range-data {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 4px;
      span {
        width: 16px;
      }
      input {
        width: calc(50% - 22px);
        text-align: center;
      }
    }
    & > div {
      padding-bottom: 24px;
      @media(max-width:1100px) {
        padding-bottom: 0;
      }
    }
    @media(max-width:1100px) {
      grid-template-columns: 100px 300px 1fr;
      grid-template-rows: auto auto; /* две строки */
      .term, .price {
        grid-row: 2;
        grid-column: span 2;
        margin-top: 24px;
      }
    }
    @media(max-width:750px) {
      grid-template-columns: 50px 1fr 1fr 1fr;
      grid-template-rows: auto auto auto; /* две строки */
      border-top: none;
      &:first-child {
        border-top: 1px solid var(--color-main);
        padding-top: 40px;
      }
      .num {
        grid-row: 1;
        grid-column: 1;
        font: 400 24px/22px var(--font-title);
      }
      .name {
        grid-row: 1;
        grid-column: span 3;
      }
      .desc {
        grid-row: 2;
        grid-column: span 4;
        margin-top: 24px;
        border-left: none;
        padding-left: 0;
      }
      .term, .price {
        margin-top: 40px;
        grid-row: 3;
        grid-column: span 2;
        border-top: 1px solid var(--color-main);
        border-bottom: 1px solid var(--color-main);
        padding-top: 6px;
        padding-bottom: 6px;
        border-left: none;
        position: relative;
        & svg {
          display: none;
        }
      }
      .term {
        padding-left: 0;
      }
      .price::before {
        content:"";
        position: absolute;
        left: 0;
        top: 6px;
        bottom: 6px;
        width: 1px;
        background-color: var(--color-main);
      }
    }
    @media(max-width:500px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto auto auto;
      .num {
        grid-row: 1;
        grid-column: span 2;
        margin-bottom: 6px;
      }
      .name {
        grid-row: 2;
        grid-column: span 2;
      }
      .desc {
        grid-row: 3;
        grid-column: span 2;
        margin-top: 24px;
      }
      .term, .price {
        margin-top: 40px;
        grid-row: 4;
        grid-column: span 1;
      }
    }
  }
}
.profile-portfolio-price.portfolio-price {
  .row {
    grid-template-columns: 60px 200px 1fr 250px 250px;
    @media(max-width:1100px) {
      grid-template-columns: 100px 300px 1fr;
    }
    @media(max-width:750px) {
      grid-template-columns: 100px auto;
    }
    @media(max-width:500px) {
      grid-template-columns: 1fr 1fr;
    }
    select {
      width: calc(100% - 20px);
      padding: 4px;
      background: #F2EEE3;
      padding: 10px 17px;
      border: none;
      border-radius: 38px;
      @media(max-width:750px) {
        width: 100%;
      }
    }
    .desc {
      padding-right: 20px;
      @media(max-width:750px) {
        padding: 0;
      }
    }
    textarea {
      width: 100%;
      box-sizing: border-box;
    }
    .desc, .term {
      @media(max-width:750px) {
        border-left: none;
        padding-left: 0;
      }
    }
    .price {
      @media(max-width:500px) {
        grid-row: 5;
        padding-left: 0;
        padding-right: 0;
        border-left: none;
      }
    }
    @media(max-width:500px) {
      .term, .price {
        margin-top: 24px;
        grid-column: span 2;
      }
    }
  }
}
.designerContacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-bottom: 80px;
  padding-top: 40px;
  .img {
    position: relative;
    img {
      border-radius: 50%;
      width: 114px;
    }
    span {
      position: absolute;
      bottom: 0;right: -20px;
      border-radius: 50%;
      background: var(--color-second-light);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 54px;height: 54px;
      transition: 0.2s;
      svg {
        transition: 0.2s;
      }
    }
    &:hover {
      svg {
        margin-top: -6px;
        margin-right: -6px;
      }
    }
  }
  .text {
    font: 500 32px/30px var(--font-main);
    letter-spacing: -0.06em;
    text-align: center;
    color: var(--color-main);
    span {
      color: var(--color-second);
    }
  }
  .back {
    color: var(--color-main);
    font: 500 10px/11px var(--font-main);
    text-decoration: underline;
    margin-top: 8px;
  }
}
.login-page {
  border-top: 1px solid var(--color-main);
  border-bottom: 1px solid var(--color-main);
  padding: 40px 0;
  h2 {
    padding-top: 12px;
    letter-spacing: -0.03em;
    @media(max-width:600px) {
      font: 400 40px/1em var(--font-title);
    }
    @media(max-width:450px) {
      font: 400 30px/1em var(--font-title);
  }
  }
  .fields {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    @media(max-width:700px) {
      margin: 0;
    }
    .field {
      display: flex;
      flex-direction: column;
      margin-bottom: 12px;
      input {
        margin-top: 4px;
        border-radius: 16px;
        padding: 8px 16px;
        background: #F2EEE3;
      }
    }
    .button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .links {
        display: flex;
        flex-direction: column;
        gap: 6px;
        a {
          color: var(--color-main);
          &:hover {
            color: var(--color-second)
          }
        }
      }
      .light-btn {
        background: var(--color-second);
        padding: 12px 30px;
        display: flex;
        align-items: center;
        margin-left: 4px;
        border-radius: 38px;
        border: none;
        color: #fff;
        transition: 0.2s;
        &:hover {
          background: var(--color-second-light);
          color: var(--color-second)
        }
      }
    }
  }
}
.profile-page {
  padding-bottom: 80px;
  form {
    .fields {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-bottom: 40px;
      input, textarea {
        display: block;
        width: 100%;
        box-sizing: border-box;
      }
      textarea {
        height: 5em;
      }
      input[type=submit] {
        padding: 12px;
        border-radius: 38px;
      }
    }
  }
  .profile-title {
    margin-bottom: 15px;
    color: var(--color-dark);
    opacity: 0.6;
    text-decoration: underline;
    display: block;
    cursor: pointer;
  }
  @media(max-width:850px) {
    .cols {
      flex-direction: column-reverse;
      gap: 40px;
      .col {
        width: 100%;
      }
      .border-left {
        border: none;
        padding-left: 0;
      }
    } 
  }
  .border-left {
    border-left: 1px solid var(--color-main);
    padding-left: 24px;
    /*#main-info {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-bottom: 40px;
      input, textarea {
        display: none;
      }
      .name {
        font: 400 66px/1em var(--font-title);
        letter-spacing: -0.04em;
      }
      .desc, .link {
        font: 500 14px/18px var(--font-main);
        letter-spacing: -0.04em;
      }
      label {
        display: none;
      }
    }*/
    #edit-main-info {
      display: none;
    }
    .contacts {
      display: flex;
      flex-direction: column;
      gap: 4px;
      color: #C6C6C6;
    }
  }
  .drop-area {
    background: url(~/src/img/union-icon@3x.png) no-repeat center center #F2EEE3;
    background-size: 104px 104px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 288px;
    height: 288px;
    border: 2px solid #F2EEE3;
    transition: 0.2s;
    svg {
        width: 104px;
        height: 104px;
        transition: 0.2s;
    }
    &.loaded {
      svg {
        display: none;
      }
    }
    &.highlight {
      border: 2px dashed var(--color-second);
      svg {
        transform: scale(1.2);
      }
    }
    img {
      max-width: 260px;
      max-height: 260px;
    }    
  }
  .gallery-loader {
    margin-top: 40px;
    .drop-area {
      width: 100%;
    }
  }
  #galleryPreviews {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
    img {
        max-height: 109px;
        border-radius: 8px;
    }
  }
  .project-desc {
    width: 60%;
    margin-left: auto;
    @media(max-width:750px) {
      margin-left: 0;
      width: 100%;
    }
  }
}
.profile-portfolio-price {
  .noUi-horizontal {
    height: 10px;
    .noUi-handle {
      width: 20px;
      top: -10px;
      &::before {
        left: 7px;
      }
      &::after {
        left: 11px;
      }
    }
  }
  .noUi-connect {
    background: var(--color-second);
  }
}